<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Browsing data stored in SoilDB</h1>
    <table border="1">
      <thead>
        <tr>
          {% for col in colnames %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          {% for col in colnames %}
          <td>{{ record[col] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
